

input {
    keyboard {
        xkb {
            layout "us"
            // variant "dvorak"
            options "compose:ralt,ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse { }

    tablet {
        map-to-output "eDP-1"
    }

    touch {
        map-to-output "eDP-1"
    }
}

layout {
    focus-ring {
        width 4
        active-color "#b7bdf8" // Lavender from Catppuccin Macchiato theme
        inactive-color "#6e738d" // Overlay0 from Catppuccin Macchiato theme
        urgent-color "#f5a97f" // Catppuccin peach            "SUPER, X, exec, appctl exec powermenu"
    }

    shadow {
        softness 10
        offset x=0 y=0
    }

    insert-hint {
        color "#f5a97f80" // Peach from Catppuccin with reduced opacity
    }

    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }

    default-column-width {}

    gaps 10
    center-focused-column "on-overflow"

    default-column-display "normal"

    tab-indicator {
        width 6
        corner-radius 3
        gaps-between-tabs 6
        active-color "#f4dbd6" // rosewater
        urgent-color "#f5a97f" // Catppuccin peach
        gap 8
        place-within-column
        hide-when-single-tab
    }
}

overview {
    backdrop-color "#1e2030" // Catppuccin mantle
}

cursor {
    hide-when-typing
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay { skip-at-startup; }

window-rule {
    geometry-corner-radius 10
}

window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#dd7878" // Maroon from Catppuccin Macchiato theme
    }
    shadow {
        on
        color "#dd7878" // Maroon from Catppuccin Macchiato theme
    }
}

window-rule {
    match is-urgent=true
    shadow {
        on
        color "#f5a97f" // Catppuccin peach
    }
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    default-column-width { proportion 0.25; }
}

window-rule {
    match app-id="1Password"
    default-column-width { proportion 0.33; }
    block-out-from "screen-capture"
}

layer-rule {
    match namespace="rofi"

    shadow {
        on
        // off
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#00000064"
        // inactive-color "#00000064"
    }

    place-within-backdrop true
    baba-is-float true
}

binds { 
    Mod+E hotkey-overlay-title="Launch file manager" { spawn "appctl" "exec-known" "fileManager"; }
    Mod+F { maximize-column; }
    Mod+Shift+F { toggle-windowed-fullscreen; }
    Mod+L hotkey-overlay-title="Toggle password manager" { spawn "appctl" "exec-known" "passwordManager" "toggle"; }
    Mod+Shift+L hotkey-overlay-title="Lock password manager" { spawn "appctl" "exec-known" "passwordManager" "lock"; }
    Mod+M { center-column; }
    Mod+Q hotkey-overlay-title="Close window" { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+T hotkey-overlay-title="Spawn Terminal" { spawn "appctl" "exec-known" "terminal"; }
    Mod+Shift+T { toggle-window-floating; }
    Mod+V hotkey-overlay-title="Show clipboard menu" { spawn "appctl" "exec" "clipboardctl" "show-menu"; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+X hotkey-overlay-title="Open power menu" { spawn "appctl" "exec" "powermenu"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Space hotkey-overlay-title="Show application menu" { spawn "appctl" "exec" "appctl" "show-menu"; }
    Mod+Tab repeat=false { toggle-overview; }
    //Mod+Tab hotkey-overlay-title="Show open windows" { spawn "appctl" "exec" "appctl" "show-windows"; }

    XF86AudioRaiseVolume  { spawn "audioctl" "output" "volume" "raise"; }
    XF86AudioLowerVolume  { spawn "audioctl" "output" "volume" "lower"; }
    XF86AudioMute         allow-when-locked=true { spawn "audioctl" "output" "mute" "toggle"; }
    XF86MonBrightnessUp   { spawn "screenctl" "backlight" "raise"; }
    XF86MonBrightnessDown { spawn "screenctl" "backlight" "lower"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Shift+Page_Down { move-column-to-workspace-down; }
    Mod+Shift+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Ctrl+Page_Down { move-workspace-down; }
    Mod+Shift+Ctrl+Page_Up   { move-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Ctrl+E { quit; }
    // Mod+Shift+P { power-off-monitors; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
}
