$base00: #1E1E2E;
$base01: #181825;
$base02: #313244;
$base03: #45475A;
$base04: #585B70;
$base05: #CDD6F4;
$base06: #F5E0DC;
$base07: #B4BEFE;
$base08: #F38BA8;
$base09: #FAB387;
$base0A: #F9E2AF;
$base0B: #A6E3A1;
$base0C: #94E2D5;
$base0D: #89B4FA;
$base0E: #CBA6F7;
$base0F: #F2CDCD;

* {
    border: none;
    border-radius: 0;
    font-family:
        Cartograph CF Nerd Font,
        monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window {
    background-color: $base01;

    .group {
        background-color: $base00;
        border: 0px;
        border-radius: 10px;
        margin: 3px 10px;

        .widget {
            margin: 0px 0px;
        }
    }

    .widget {
        background-color: $base00;
        border-radius: 10px;
        margin: 3px 10px;

        icon {
            margin-right: 3px;
        }
    }

    .battery {
        color: $base08;
    }

    .idle-inhibitor {
        color: $base08;
    }

    .microphone {
        color: $base0E;
    }

    .screen-brightness {
        color: $base0B;
    }

    .volume {
        color: $base0D;
    }

    .workspaces .workspace {
        color: $base02;
    }

    .workspaces button.active {
        color: $base0E;
    }

    .workspaces button.focused {
        color: $base0E;
    }

    .workspaces button:hover {
        color: $base0E;
    }
}