@import url("colors.css"); 

* {
    all: unset;
    font-family: FiraCode Nerd Font Propo, DroidSansM Nerd Font Propo, monospace;
    font-weight: bold;
    font-size: 14px;
}

window {
    background-color: alpha(@base01, .4);
}

tooltip {
    background-color: @base01;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @base01;
}

label.module {
    padding: 0px 12px;
}

label.module:hover {
    background-color: alpha(@base07, .1);
    border-radius: 10px;
}

button {
    margin: 0px;
    padding: 0px 12px;
}

button:hover {
    background-color: alpha(@base07, .1);
    border-radius: 10px;
}

#stats {
    color: @base0C;
}

#backlight {
    color: @base0B;
}

#cava {
    color: @base0D;
}

#clock {
    color: @base07;
}

#custom-notifications {
    color: alpha(@base06, .5);
}

#custom-notifications.some {
    color: @base0A;
}

#idle_inhibitor {
    color: alpha(@base06, .5);
}

#mpris {
    color: @base07;
}

#network {
    color: @base07;
}

#custom-power {
    color: @base04;
}

#pulseaudio {
    color: @base0D;
}

#pulseaudio.microphone {
    color: @base0E;
}

#systemd-failed-units {
    color: @base08;
}

#workspaces button {
    color: @base04;
}

#workspaces button.active, 
#workspaces button.focused, 
#workspaces button.urgent {
    color: @base0E;
}
