@define-color base00 #1E1E2E;
@define-color base01 #181825;
@define-color base02 #313244;
@define-color base03 #45475A;
@define-color base04 #585B70;
@define-color base05 #CDD6F4;
@define-color base06 #F5E0DC;
@define-color base07 #B4BEFE;
@define-color base08 #F38BA8;
@define-color base09 #FAB387;
@define-color base0A #F9E2AF;
@define-color base0B #A6E3A1;
@define-color base0C #94E2D5;
@define-color base0D #89B4FA;
@define-color base0E #CBA6F7;
@define-color base0F #F2CDCD;

* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window.bar {
    background-color: @base01;
}

.bar .group {
    background-color: @base00;
    border: 0px;
    border-radius: 10px;
    margin: 3px 10px;
}

.bar .widget {
    background-color: @base00;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.bar .battery {
    color: @base08;
}

.bar .idle-inhibitor {
    color: @base08;
}

.bar .microphone {
    color: @base0E;
}

.bar .screen-brightness {
    color: @base0B;
}

.bar .volume {
    color: @base0D;
}

.bar .workspaces .workspace {
    color: @base02;
}

.bar .workspaces button.active {
    color: @base0E;
}

.bar .workspaces button.focused {
    color: @base0E;
}

.bar .workspaces button:hover {
    color: @base0E;
}
